@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>ASP.NET Project Framework</h3>
<p>Project Framework with MS Access | MySQL Database Support. Web API | Mobile | Cloud | MVC Page Support</p>