/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    /* This padding is crucial for the fixed-top navbar */
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.center_div {
    margin: 0 auto;
    width: 50%
}

/* Style for the validation message in Login page */
.text-danger {
    color: #a94442;
}

.font-weight-bold {
    font-weight: bold;
}
